@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  --hue-color: 210;

  --title-color: hsl(var(--hue-color), 8%, 15%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 47%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --first-color: hsl(var(--hue-color), 92%, 85%);
  --text-color: hsl(var(--hue-color), 8%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 97%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 50%);

  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.section_title,
.section_subtitle {
  text-align: center;
}

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo:hover {
  color: var(--first-color-alt);
}

.nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: var(--first-color-alt);
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  color: var(--first-color);
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: --first-color;
}

.nav_close:hover {
  color: var(--first-color-alt);
}

.show-menu {
  bottom: 0;
}

.close-menu {
  bottom: -100%;
}

.logo {
  border-radius: 30%;
  width: 14rem;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.home_container {
  gap: 1rem;
}

.home_content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
  align-items: center;
  justify-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.75rem;
  color: var(--title-color);
  transition: 0.3s ease;
}

.home_social-icon:hover {
  transform: scale(1.2);
}

.contact-icon {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.contact-icon > i {
  display: inline-block;
  transition: 0.3s ease;
}

.contact-icon:hover > i {
  transform: rotate(15deg);
}

.home_data {
  grid-column: 1/3;
}

.home_title {
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home_description {
  margin-bottom: var(--mb-2);
}

.home_scroll {
}

.home_scroll-button {
  display: inline-block;
  color: var(--title-color);

  transition: 0.3s;
}

.home_scroll-button:hover {
  transform: translateY(1rem);
}

.home_scroll-mouse {
  font-size: 1.35rem;
}

.home_scroll-name {
  font-size: var(--font-medium);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home_scroll-arrow {
  font-size: 1.35rem;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_icon {
  font-size: var(--h2-font-size);
}

.button--flex {
  display: flex;
  gap: var(--mb-0-5);
  align-items: center;
}

.about_img {
  width: 20rem;
  border-radius: 35%;
  justify-self: center;
  align-self: center;
  border: 2px solid var(--title-color);
  margin-top: 1rem;
}

.about_description {
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.about_buttons {
  display: flex;
  justify-content: center;
}

.portfolio_container {
  overflow: initial;
}

.portfolio_content {
  padding: 0 1.5rem;
  margin-bottom: var(--mb-2);
}

.portfolio_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
  transition: 0.5s ease;
}

.portfolio_img:hover {
  transform: scale(1.1);
}

.portfolio_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio_description {
  margin-bottom: var(--mb-0-75);
}

.tag_list {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0;
}

.tag_item {
  background-color: var(--text-color);
  color: var(--body-color);
  border-radius: 1rem;
  padding: 0.25rem 0.7rem;
  margin: 0 0.25rem 1rem 0;
  font-weight: var(--font-semi-bold);
}

.portfolio_button {
  padding: var(--mb-0-5) var(--mb-0-75);
  margin: var(--mb-0-25) var(--mb-0-5);
}

.qualifications_container {
  row-gap: 0;
}

.qualifications_header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-1-5);
  cursor: pointer;
}

.qualifications_header > i {
  display: inline-block;
  transition: 0.3s ease;
}

.qualifications_header:hover > i {
  transform: translateY(0.5rem);
}

.qualifications_logo {
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--title-color);
  margin-right: var(--mb-0-75);
}

.qualifications_arrow {
  font-size: 2rem;
  color: var(--title-color);
  margin-left: auto;
  transition: 0.4s;
}

.qualifications_title {
  font-size: var(--normal-font-size);
}

.qualifications_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualifications_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.qualifications_list {
  margin-bottom: var(--mb-0-5);
}

.qualifications_info {
  margin-bottom: var(--mb-1);
}

.qualifications_section {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
}

.qualifications_content-open .qualifications_content {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.qualifications_content-close .qualifications_content {
  height: 0;
  overflow: hidden;
}

.qualifications_content-open .qualifications_arrow {
  transform: rotate(-180deg);
}

.footer {
  padding-top: 2rem;
}

.footer_container {
  row-gap: 3.5rem;
}

.footer_bg {
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-5);
}

.footer_subtitle {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-bottom: var(--mb-1);
}

.footer_link:hover {
  color: var(--first-color-alt);
}

.footer_social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer_social:hover {
  color: var(--first-color-alt);
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
  color: var(--title-color);
}

.active-link {
  color: var(--first-color-alt);
  font-weight: var(--font-semi-bold);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.nav_buttons {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color-alt);
}

body.dark-theme {
  --first-color: hsl(var(--hue-color), 49%, 41%);

  --first-color-second: hsl(var(--hue-color), 30%, 1%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 88%);
  --input-color: hsl(var(--hue-color), 30%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 14%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 10%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 50%);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

.change-language {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-language:hover {
  color: var(--first-color-alt);
}

.change-language i {
  margin-right: var(--mb-0-25);
}
